
  
  header {
  display: flex;
  width:100%; 
  overflow: hidden; 
  margin-bottom:50px;
  background-color: rgb(115, 223, 212);
  position: central;
}


  body{
   background-color: rgb(115, 223, 212);
   background-size: cover;
   position: relative;
   width: 1440px;
   height: 1024px;
}


label {
  color: rgb(14, 13, 9);
}
.resultadoMostrarOrdenar{
  color:transparent;
} 
.resultadoMostrarFiltro{
  color:transparent 
}


.pokemon{
    width: 18%;
    height: 20%;
    top: 3%;
    background: rgb(248, 248, 245);
    box-sizing: border-box;
    box-shadow: 6px 6px 6px rgba(2, 15, 66, 0.383);
    border-radius: 50px;
    display: inline-grid;
    margin-top: 5%;
    margin-left: 4%;   
    position: center;

}
  section article {
  width: 200px;
  border: 50px ridge rgb(37, 4, 116);
  border-image-width: 1px;
  border-image-slice: 20%;
  border-image-repeat: round;
  box-shadow: rgba(54, 102, 243, 0.157);
  width: 28%;
  float: left;
  margin: 30px;
  border: 6px ridge rgba(38, 58, 243, 0.363);
  border: radius 100px;
  text-align: center;
  
}
.id {
  font-family: Shadows Into Light;
  font-size: 3.5rem;
  
  margin-bottom: 20px;
  color: rgb(205, 223, 43);
  text-align: center;
}
.name {
  font-family: Shadows Into Light;
  font-size: 2.0rem;
  margin-bottom: 10px;
  color: rgb(91, 90, 95);
 }
 section p {
  margin: 5px 0;
  font-family: Shadows Into Light;
  color: rgb(5, 2, 26);
  font-size: 1.5rem;
 }
 section img {
  display: flex;
  width: 50%;
  margin: 5px 0;
  border-radius: 1000px;
  justify-content: center;
  image-orientation: center;
 }
 .pokemonImg {
   justify-content: center;
 }
 
small {
  opacity: .5;
  font-weight: 300;
 }
 nav {
  display: inline-flex;
  margin-left: 10%;
  width: 80%;
  max-width: 35em;
  justify-content: center;
  padding: 1em;
  border-radius: 10px;
  font-family: Shadows Into Light;
  font-size: 2.0rem;

 }
 .imgPokemon {
  width: 50%;
  justify-content: center;
  align-content: center;
  margin-left: 22%;
  height:
 }
 
  /*@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
Centramos el menu y el logotipo
		text-align: center; 
		line-height:100px;
	}
  
  

  @media screen and (max-width:3000px){
  header.logo, 
	header nav {
        color: silver;
        font-size: 1rem;
    }
}

@media screen and (max-width: 1200px){
  header.logo,
	header nav {
        color: rgb(38, 143, 56);
        font-size: 1rem;
    }
}
@media screen and (max-width: 700px){
  header.logo,
	header nav {
        color: rgb(116, 64, 90);
        font-size: 1rem;
    }
}
@media screen and (max-width: 5px){
  header.logo,
	header nav {
    color: rgb(224, 107, 28);
    font-size: 1rem;
    }
}

  }*/
  